<div id="main" class="container">
  <div class="row">
    <div class="main-container">
      <div class="title-container">
        <a href="/" class="title"><span class="claremont">5C</span><span class="dark-col">review</span></a>
        <div class="title-description">Search for classes and professors.</div>
          <%= render "layouts/search" %>
        </div>
      </div>
    </div>
  </div>
</div>
