#main.container
  .row
    .main-container
      .title-container
        a.title href="/"
          span.claremont Claremont
          span.dark-col review
        .title-description Search for classes, departments, and professors.
        = render "layouts/search"
