<div id="main" class="container">
  <div class="row">
    <div class="main-container">
      <div class="title-container">
        <a href="/" class="title"><span class="yellow">Mudd</span><span class="dark-col">rank</span></a>
        <div class="title-description">Search for classes, departments, and professors.</div>
        <form action="/courses" method="get" role="search">
          <div class="form-group ui-widget">
          <input name="query" type="text" class="main-search" id="main-search" autocomplete="off" placeholder="Type here" autofocus>
          <button type="submit" class="btn btn-default main-search-button">Go</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
