<%= render "layouts/navbar" %>

<div id="main" class="container">
  <div class="row">
    <table>
      <tr><td width=100px;>Rating</td><td>Class</td></tr>
        <% @courses.each do |course| %>
          <tr>
            <td>
              <% unless course.reviews.average(:rating).nil? %>
                <% course.reviews.average(:rating).to_i.times do %>
                  <i class="fa fa-star"></i>
                <% end %>
                <% (5-course.reviews.average(:rating)).round.times do %>
                  <i class="fa fa-star-o"></i>
                <% end %>
              <% else %>
                <% 5.times do %>
                  <i class="fa fa-star-o"></i>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to("#{course.code}: #{course.title}", course, "data-no-turbolink" => true) %>
            </td>
        <% end %>
  </div>
</div>
