<%= render "layouts/navbar" %>

<div id="main" class="container">
  <div class="row">
    <table>
      <tr><td width=100px;>Rating</td><td>Class</td></tr>
        <% @courses.each do |course| %>
          <tr>
            <td>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </td>
            <td>
              <%= link_to "#{course.code}: #{course.title}", course %>
            </td>
        <% end %>
  </div>
</div>
