<style>
  .ui-autocomplete {
    font-size: 80%;
    max-height: 220px;
    max-width: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
  }
</style>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="claremont">Claremont</span>review</a>
      <span class="navbar-brand">
      </span>
    </div>
    <% if search %>
      <form action="/courses" method="get" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input name="query" type="text" class="form-control" id="header-search" autocomplete="off" placeholder="Search" style="width:200px;margin-right:2px;" autofocus data-autocomplete="/courses/autocomplete_course_code_title_instructor">
          <button type="submit" class="btn btn-default">Go</button>
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-default", style: "margin-left:30px;" %>
          <% else %>
            <%= link_to "Sign In", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-default", style: "margin-left:30px;" %>
          <% end %>
        </div>
      </form>
    <% end %>
  </div>
</nav>
