<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="claremont">5C</span>review</a>
      <span class="navbar-brand">
      </span>
    </div>
    <form action="/courses" method="get" class="navbar-form navbar-right" role="search">
    <div class="form-group">
      <input name="query" type="text" class="form-control" id="header-search" autocomplete="off" placeholder="Search" style="width:200px;margin-right:2px;" autofocus>
      <button type="submit" class="btn btn-default">Go</button>
    </div>
    </form>
  </div>
</nav>
