<form action="/courses" method="get" role="search">
  <div class="form-group ui-widget">
    <input name="query" type="text" class="main-search" id="main-search" autocomplete="off" placeholder="Type here..." autofocus>
    <button type="submit" class="btn btn-default main-search-button">Go</button>
  </div>
</form>
