form action="/courses" method="get" role="search" 
  .form-group.ui-widget
    input#main-search.main-search autocomplete="off" autofocus="" data-autocomplete="courses/autocomplete_course_code_title_instructor" name="query" placeholder=("Type here...") type="text" /
    button.btn.btn-default.main-search-button type="submit"  Go
